body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #7fa389;
    color: 	#064a6c;
    text-align: center;
}

label {
    line-height: 4rem;
    font-size: 1.5rem;
}

.error {
    font-size: 1.5rem;
}

/* Button with glow efffect in Bosch color way */
.glow-on-hover {
    margin-top: 5rem;
    font-size: 1.5rem;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #064a6c;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #a92230, #da2128, #853a80, #183f89, #2167ab, #25a6c8, #02a76d, #7dbe7b, #8f2137);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 10s linear infinite;
    opacity: 0;
    transition: opacity .1s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: rgb(192, 192, 192)
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #064a6c;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}